* {
    margin: 0 auto;
    padding: 0;
}

body {
    background-image: url("../images/sky.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100%;
    color: white;
}

h1 {
    color: white;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.q1field,.q2field,.q3field,.q4field {
    display: none;
}


#quiz {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

.field {
    background: rgb(25, 25, 26);
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(224, 216, 216, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: relative;
    color: azure;
}

.container {
    text-align: left;
}

/* just show the first fieldset */
/* #quiz fieldset:not(:first-of-type){
    display: none;
} */
#quiz .action-button {
    width: 100px;
    background: rgb(132, 219, 248);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

/* headings */
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #a5aeb8;
    margin-bottom: 10px;
}

/* progressbar */
#progressbar {
    display: none;
    margin-bottom: 30px;
    overflow: hidden;
    padding-top: 5%;
}

#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    width: 25%;
    float: left;
    position: relative;
    
}

.onQuestion{
    /* border: 2px solid lightblue; */
    background-color: black;
    padding: 0;
    width: auto;
    
}

span {
    border: 2px solid lightblue;
    width: 27px;
}

#timer {
    padding-bottom:3%;
}
.displayDiv {
    background: black;
    width: 43%;
    height: 70px;
    text-align: center;
    padding-top: 15px;
}
.victory {
    background-color: aqua; 
    width: 20px;
    height: 20px;
    padding: 2% 0;
    margin-bottom: 2%;
    position: absolute;
    top: 1%;
    left:65%;
    display: none;
 }